1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
print("String value:", "Hello, World!", "Integer value:", 42, "Boolean value:", True, "Float value:", 3.14)

String value: Hello, World! Integer value: 42 Boolean value: True Float value: 3.14

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
print("Hello, World!", 42, True, 3.14, sep="-")

Hello, World!-42-True-3.14

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [9]:
print("Hello, World!", end=" ")
print(42, end=" ")
print(True, end=" ")
print(3.14)

Hello, World! 42 True 3.14

4) Can a python print function take no value to print???

In [12]:
print("Hello, World!")
print()
print("This is a blank line above!")

# prints a line with nothing in there

Hello, World!

This is a blank line above!

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [15]:
# Variables and their values from the given text
friend_name = "Mr. Ahmed"
age = 30
profession = "lawyer"
education = "Bachelors in Law"
graduation_year = 2005
law_firm = "The Himalya Associates"
city = "Karachi"
joining_year = 2015
height = 5.10  # in feet
weight = 70600  # in grams
monthly_income = 200000  # in PKR

# Printing the variables to verify
print("Name:", friend_name)
print("Age:", age)
print("Profession:", profession)
print("Education:", education)
print("Graduation Year:", graduation_year)
print("Law Firm:", law_firm)
print("City:", city)
print("Joining Year:", joining_year)
print("Height:", height, "feet")
print("Weight:", weight, "grams")
print("Monthly Income:", monthly_income, "PKR")

Name: Mr. Ahmed
Age: 30
Profession: lawyer
Education: Bachelors in Law
Graduation Year: 2005
Law Firm: The Himalya Associates
City: Karachi
Joining Year: 2015
Height: 5.1 feet
Weight: 70600 grams
Monthly Income: 200000 PKR

6) How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [20]:
# Variables
graduation_year = 2005
current_year = 2024  # Assign the current year

# Calculate years since graduation
years_since_graduation = current_year - graduation_year

# Print the result
print("Years since Mr. Ahmed's graduation:", years_since_graduation)

Years since Mr. Ahmed's graduation: 19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [23]:
# Variables
joining_year = 2015
current_year = 2024  # Assign the current year

# Calculate years of work at the law firm
years_in_firm = current_year - joining_year

# Print the result
print("Years Mr. Ahmed has been working with 'The Himalya Associates':", years_in_firm)

Years Mr. Ahmed has been working with 'The Himalya Associates': 9

8) Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [26]:
# Variables
monthly_income_pkr = 200000  # Monthly income in PKR
exchange_rate = 280  # 1 USD = 280 PKR

# Convert income to USD
monthly_income_usd = monthly_income_pkr / exchange_rate

# Print the result
print("Mr. Ahmed's monthly income in USD:", round(monthly_income_usd, 2))

Mr. Ahmed's monthly income in USD: 714.29

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [36]:
# Variables
# use of isinstance function

monthly_income_pkr = 200000  # Monthly income in PKR
exchange_rate = 280  # 1 USD = 280 PKR

# Convert income to USD
monthly_income_usd = monthly_income_pkr / exchange_rate

# Check the type of income and convert if necessary
print("Income in USD (original):", monthly_income_usd)
print("Is the income in USD a float?", isinstance(monthly_income_usd, float))

# Convert to integer
monthly_income_usd_int = int(monthly_income_usd)

# Print the income as an integer
print("Income in USD (as an integer):", monthly_income_usd_int)

Income in USD (original): 714.2857142857143
Is the income in USD a float? True
Income in USD (as an integer): 714

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [38]:
# Variables
weight_in_grams = 70600  # Mr. Ahmed's weight in grams

# Print the type of the weight
print("Type of weight before conversion:", type(weight_in_grams))

# Convert weight to kilograms (and make sure it is an integer)
weight_in_kg = int(weight_in_grams / 1000)

# Print the converted weight and its type
print("Weight in kilograms (as integer):", weight_in_kg)
print("Type of weight after conversion:", type(weight_in_kg))

Type of weight before conversion: <class 'int'>
Weight in kilograms (as integer): 70
Type of weight after conversion: <class 'int'>

11) print the year of birth of Mr. Ahmed.

In [41]:
# Variables
current_year = 2024  # Current year
age = 30  # Mr. Ahmed's age

# Calculate year of birth
year_of_birth = current_year - age

# Print the year of birth
print("Mr. Ahmed's year of birth:", year_of_birth)

Mr. Ahmed's year of birth: 1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [44]:
# Variables
total_amount = 100  # Total amount in Rs
num_students = 6  # Number of students

# Check if the amount can be divided equally among students
if total_amount % num_students == 0:
    print("Yes, Rs. 100 can be divided equally among 6 students.")
else:
    print("No, Rs. 100 cannot be divided equally among 6 students.")

No, Rs. 100 cannot be divided equally among 6 students.